<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor of Information Technology & Systems</h1>
            <span>Monash University</span>
            <span><address>Melbourne, Australia & Kuala Lumpur, Malaysia</address><time>2011 to 2014</time></span>
        </header>
        <p>
            Highlights: I helped produce the <strong>Monash International Magazine</strong> & participated at <strong>Harvard World Model UN</strong> in Vancouver
        </p>
    </article>
    <article>
        <header>
            <h1>A Levels</h1>
            <span>Collège du Saint Esprit</span>
            <span><address>Quatre Bornes, Mauritius</address><time>2008 to 2009</time></span>
        </header>
        <p>
            <em>Mathematics, Physics, Chemistry & French</em>
        </p>
    </article>
</section>
