<section class="thirteen columns">
    <h1>Employment</h1>
     <article>
        <header>
            <h1>Co-Founder</h1>
            <span><address>Quatre Bornes, Mauritius</address><time>2016 to present</time></span>
        </header>
        <p>I co-founded <a href="http://bitfuel.io">BitFuel Ltd</a> in Mauritius in January 2016. The company specialises in building web applications</p>
    </article>
    <article>
        <header>
            <h1>Developer</h1>
            <span><address>Ebene Junction, Mauritius</address><time>January 2015 to June 2016</time></span>
        </header>
        <p>I have worked in the payments card industry for two years, developing software for and advising African financial institutions, particularly in Nigeria. This has included travel to Nigeria in order to deploy and sign off on systems and train staff.</p>
    </article>
    <article>
        <header>
            <h1>Freelance Developer</h1>
            <span><address>Ebene Junction, Mauritius</address><time>January 2015 to present</time></span>
        </header>
        <p>I developed and setup web applications and websites for clients on a freelance basis.</p>
        <p>You can view my portfolio & contact me on <a href="https://www.upwork.com/freelancers/~017ffacec0b8aaf3b5" target="_blank">Upwork</a> if you need my services!  </p>
    </article>
    <article>
        <header>
            <h1>Intern Web Developer</h1>
            <span><address>Port Louis, Mauritius</address><time>December 2012 to January 2013</time></span>
        </header>
        <p>I worked with the managing director on a prototype of an online recruiting system. I researched features and implemented them on a distribution of the Drupal CMS.</p>
    </article>
</section>
