<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Turbine Inspire Program</h1>
            <span><address>Mauritius</address><time>2015 to 2016</time></span>
        </header>
        <p>
           In March 2016, I participated in the Inspire program at Turbine Mauritius, in
partnership with <a href="http://www.stockholminnovation.com/" target="_blank">Stockholm Innovation & Growth (STING).</a> This program is a business readiness course and training on lean, modern startup management.
        </p>
    </article>
    <article>
        <header>
            <h1>Assistant Organizer at MSCC</h1>
            <span><address>Mauritius</address><time>2015 to 2016</time></span>
        </header>
        <p>
            Courses: Nec et duis iriure temporibus, ullum adolescens eam ea.
        </p>
    </article>
    <article>
        <header>
            <h1>Member of PHP User Group, Mauritius</h1>
            <span><address>Mauritius</address><time>2016</time></span>
        </header>
        <p>
            I've spoken at PHP User Group meetups on PHP & Laravel
        </p>
    </article>
</section>